.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 30px;
}
.hero {
  margin: 10px 10px 0 10px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.choices {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.choice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px 5px 10px;
}

.current {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  margin: 15px 5px;
  font-size: 12px;
  border: 1px solid rgb(108, 125, 161);
  background-color: #fff;
  border-radius: 50%;
}

.button {
  cursor: pointer;
  background-color: rgb(108, 125, 161);
  color: #fff;
  font-weight: 600;
  font-size: 24px;
}

.clearButton {
  align-self: center;
  padding: 12px 20px;
  margin: 6px;
  font-size: 18px;
  border-radius: 5px;
  background-color: rgb(108, 125, 161);
  border: none;
  color: white;
}

.choice input {
  width: 50px;
  padding: 8px 10px;
  margin: 6px;
  font-size: 24px;
  border-radius: 5px;
}
.paymentType {
  display: flex;
  max-width: 400px;
  background-color: #fff;
  width: 100%;
  justify-content: space-around;
  border: 1px solid rgb(78, 71, 71);
  border-radius: 10px;
  padding: 5px;
  margin: 5px 30px;
}

.paymentType button {
  cursor: pointer;
  font-size: 20px;
  letter-spacing: 4px;
  margin: 5px 20px;
  padding: 20px 25px;
  background-color: rgb(108, 125, 161);
  border: none;
  border-radius: 5px;
  color: rgb(253, 255, 251);
}

#cash {
  background-color: rgb(120, 155, 143);
}


@media (hover: hover) {
  .paymentType button:hover {
    background-color: rgb(78, 71, 71);
    color:  rgb(253, 255, 251);
  }
  .paymentType button:active {
    background-color: rgb(216, 160, 174);
    -webkit-box-shadow: inset 0px 0px 5px rgb(78, 71, 71);
    -moz-box-shadow: inset 0px 0px 5px rgb(78, 71, 71);
      box-shadow: inset 0px 0px 5px rgb(78, 71, 71);
      outline: none; 
    color:  rgb(56, 52, 52);
  }
  #cash:hover {
    background-color: rgb(78, 71, 71); 
    color: rgb(253, 255, 251);
  }
  #cash:active {
    background-color: rgb(216, 160, 174);
    color:  rgb(56, 52, 52);
  }

}

@media (hover: none) {
  #cash:active,
  .paymentType button:active {
    background-color: rgb(216, 160, 174);
    -webkit-box-shadow: inset 0px 0px 5px rgb(78, 71, 71);
    -moz-box-shadow: inset 0px 0px 5px rgb(78, 71, 71);
      box-shadow: inset 0px 0px 5px rgb(78, 71, 71);
      outline: none; 
    color:  rgb(56, 52, 52);
  }

  .reset button:active {
    background-color: rgb(120, 155, 143);
    color:  rgb(253, 255, 251);
  }
}

.totals {
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px 10px;
}
.card {
  margin: 10px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.title {
  font-weight: 600;
  font-size: 18px;
}
.title p {
  text-align: center;
}
.total {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.total p {
  font-weight: 400;
  margin: 5px 0;
  font-size: 14px;
}
.totalChecks {
  margin: 4px 0;
  font-size: 14px;
}

.total span {
  font-weight: 600;
  color: rgb(36, 72, 150);
}

.totalsData {
  margin: 0 auto;
  font-weight: 600;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(78, 71, 71);
  background-color: #fff;
  margin: 10px;
  padding: 10px 30px;
}
.reset {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px 10px;
}

.reset button {
  cursor: pointer;
  padding: 10px 20px;
  font-size: 18px;
  margin: 10px 20px;
  background-color: rgb(216, 160, 174);
  border: none;
  border-radius: 5px;
  color: rgb(253, 255, 251);
}

.reset button:hover {
  background-color: rgb(78, 71, 71); 
  color:  rgb(253, 255, 251);
}

#no {
  background-color: rgb(120, 155, 143);
}