/*Primary*/
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&family=Rubik:wght@400;500;700&display=swap');

:root {
  /*colours*/
  --bgVioletBlue: rgb(108, 125, 161);
  --bgLightPink: rgb(216, 160, 174);
  --white: rgb(255, 255, 255);
  --borderGrey: rgb(78, 71, 71);
  --milkWhite: rgb(253, 255, 251);
  --lightGreen: rgb(120, 155, 143);
  --lightGrey: rgb(56, 52, 52);
  --lightBlue: rgb(36, 72, 150);

  /*Typography*/
  --fs-big: 1.5rem;
  --fs-mReg: 1.25rem;
  --fs-reg: 1rem;
  --fs-sm: 0.75rem;
  --family-primary: 'Nunito Sans', sans-serif;
  --family-secondary: 'Rubik', sans-serif;
  --fw-reg: 400;
  --fw-bold: 700;
  --familyPrimary: 'Kumbh Sans', sans-serif;
  --familyPrimary: 'Nunito Sans', sans-serif;
  --familyPrimary: 'Rubik', sans-serif;
}

.mainApp {
  max-width: 580px;
  margin: 0 auto;
}

.plateButton {
  width: 80px;
  height: 80px;
  overflow: hidden;
  position: absolute;
  background: var(--bgVioletBlue);
  transform: rotate(-45deg );
  transform-origin: -33% 84%;
  cursor: pointer;
}

.plateButton p {
  font-size: var(--fs-reg);
  position: absolute;
  color: var(--white);
  padding-top: 44px;
  padding-left: 22px;
}

.active {
  background-color: var(--bgLightPink);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 30px;
}
.hero {
  margin: 10px 10px 0 10px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.choices {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.plateContainer {
  flex-direction: column;
}

.choice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px 5px 10px;
}

.current {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  margin: 15px 5px;
  font-size: var(--fs-sm);
  border: 1px solid var(--bgVioletBlue);
  background-color: var(--white);
  border-radius: 50%;
}

.button {
  cursor: pointer;
  border: none;
  background-color: var(--bgLightPink);
  color: var(--white);
  font-weight: var(--fw-bold);
  font-size: var(--fs-big);
}

.clearSection {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 220px;
}

.clearSection button {
  cursor: pointer;
  background-color: var(--bgVioletBlue);
  color: var(--white);
  font-weight: var(--fw-bold);
  font-size: var(--fs-mReg);
  border: none;
  border-radius: 50%;
  height: 65px;
  width: 65px;
}

.clearButton {
  align-self: center;
  padding: 12px 20px;
  margin: 6px;
  font-size: var(--fs-mReg);
  border-radius: 5px;
  background-color: var(--bgVioletBlue);
  border: none;
  color: var(--white);
}

.choice input {
  width: 50px;
  padding: 8px 10px;
  margin: 6px;
  font-size: var(--fs-big);
  border-radius: 5px;
}

.plate input {
  width: 40px;
  padding: 10px 5px;
  margin: 5px;
  font-size: var(--fs-reg);
  border-radius: 5px;
}

.paymentType {
  display: flex;
  max-width: 400px;
  background-color: var(--white);
  width: 100%;
  justify-content: space-around;
  border: 1px solid var(--borderGrey);
  border-radius: 10px;
  padding: 5px;
  margin: 5px 30px;
}

.paymentType button {
  cursor: pointer;
  font-size: 20px;
  letter-spacing: 4px;
  margin: 5px 20px;
  padding: 20px 25px;
  background-color: var(--bgVioletBlue);
  border: none;
  border-radius: 5px;
  color: var(--milkWhite);
}

#cash {
  background-color: var(--lightGreen);
}


@media (hover: hover) {
  .paymentType button:hover {
    background-color: var(--borderGrey);
    color:  var(--milkWhite);
  }
  .paymentType button:active {
    background-color: var(--bgLightPink);
    -webkit-box-shadow: inset 0px 0px 5px var(--borderGrey);
    -moz-box-shadow: inset 0px 0px 5px var(--borderGrey);
      box-shadow: inset 0px 0px 5px var(--borderGrey);
      outline: none; 
    color:  var(--lightGrey)
  }
  #cash:hover {
    background-color: var(--borderGrey); 
    color: var(--milkWhite);
  }
  #cash:active {
    background-color: var(--bgLightPink);
    color:  var(--lightGrey)
  }

}

@media (hover: none) {
  #cash:active,
  .paymentType button:active {
    background-color: var(--bgLightPink);
    -webkit-box-shadow: inset 0px 0px 5px var(--borderGrey);
    -moz-box-shadow: inset 0px 0px 5px var(--borderGrey);
      box-shadow: inset 0px 0px 5px var(--borderGrey);
      outline: none; 
    color:  var(--lightGrey)
  }

  .reset button:active {
    background-color: var(--lightGreen);
    color:  var(--milkWhite);
  }
}

.totals {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 5px 10px;
}
.card {
  margin: 10px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-weight: var(--fw-bold);
  font-size: var(--fs-mReg);
}
.title p {
  text-align: center;
}
.total {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.total p {
  font-weight: var(--fw-reg);
  margin: 5px 0;
  font-size: var(--fs-reg);
}
.totalChecks {
  margin: 3px 0;
  font-size: var(--fs-reg);
}

.total span {
  font-weight: var(--fw-bold);
  color: var(--lightBlue)
}

.totalsData {
  font-weight: var(--fw-bold);
  border-radius: 5px;
  border: 1px solid var(--borderGrey);
  background-color: var(--milkWhite);
  margin: 10px;
  padding: 10px 30px;
}
.reports {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.report {
  border: 1px solid var(--borderGrey);
  border-radius: 5px;
  background-color: var(--white);
  padding: 0 15px;
  margin-bottom: 10px;
  width: 100%;
}
.reportItems {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reportItems span {
  font-weight: var(--fw-bold);
  color: var(--lightBlue)
}

.helper {
  font-size: var(--fs-sm);
}


.reset {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px 10px;
}

.reset button {
  cursor: pointer;
  padding: 10px 20px;
  font-size: var(--fs-mReg);
  margin: 10px 20px;
  background-color: var(--bgLightPink);
  border: none;
  border-radius: 5px;
  color: var(--milkWhite);
}

.reset button:hover {
  background-color: var(--borderGrey); 
  color:  var(--milkWhite);
}

#no {
  background-color: var(--lightGreen);
}